
<html>
<head>
   <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
   <link href="../static/css/starter-template.css" rel="stylesheet">
   <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

   <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
   <title>Juice Up</title>
</head>
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Juice Up</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="email">Home</a></li>
            <li ><a href="index">Map</a></li>
            <li ><a href="realtime">Data</a></li>
           

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
   <div data-tap-disable="true">
    <div id="mapid" style="width: 100%; height: 100%;"></div>
    <!-- <div id="slider"></div> -->
  </div>
   <script>
     
// initialize the map
  var mymap = L.map('mapid').setView([37.424530, -122.138151], 13);
	
  L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiaW5zaWdodGRlbWFwYm94IiwiYSI6ImNpejF5OW44bzA1ZGgycW44NTlyMnlkcTcifQ.pZ6vujPn7iqcdidtYdup6Q', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 17,
      minZoom: 5,
      
      
    }).addTo(mymap);
      
      L.marker([37.424530, -122.138151]).addTo(mymap)
    .bindPopup('Start here')
    .openPopup();
    
var popup = L.popup();

function plotMarker(data){

 for(var i =0; i < data.length; i++){

  if(data[i]._source.available_spots != 0) {
     
     lon = data[i]._source.location[0];
     lat  = data[i]._source.location[1];
     var name = data[i]._source.station_name;
     var availability = data[i]._source.available_spots;
     var popupText =  name +"   Open spots : "+availability;
     var marker = new L.marker([lat, lon]).addTo(mymap)
 
     var popup = L.popup()
          .setLatLng(L.latLng(lat, lon))
         .setContent(popupText);
     mymap.addLayer(popup);
     mymap.closePopup(); 

      }  
    }
}


function onMapClick(e) {
    var spots = 10
   $.get("getNearestStations?lat="+e.latlng["lat"].toString()+"&lon="+e.latlng["lng"].toString(), function(data, status){         
      data = JSON.parse(data)
      console.log(data)
      if (data.length != 0){
        plotMarker(data);
       }
      else{
          var noDataPopup = L.popup().setLatLng(e.latlng).setContent("No charging stations exist within this radius");
          mymap.addLayer(noDataPopup);
       }
     });
    
}

mymap.on('click', onMapClick);
  </script>

   <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
</body>
</html>
